pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('untilreference'), variables('max'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "arrayLoop",
								"value": {
									"value": "@variables('startingValue')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "untilreference",
								"value": {
									"value": "@add(float(variables('startingValue')), float(variables('chunkSize')))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startingValue",
								"value": {
									"value": "@variables('untilreference')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"arrayLoop": {
				"type": "Array"
			},
			"startingValue": {
				"type": "String",
				"defaultValue": "0"
			},
			"chunkSize": {
				"type": "String",
				"defaultValue": "100"
			},
			"max": {
				"type": "String",
				"defaultValue": "1000"
			},
			"untilreference": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}